.App {
  text-align: center;
  width: 94%;
  margin: 0 auto;
}

body{
  background : linear-gradient(90deg, #988a89, #0e98ad);
  color: beige;
  
  
}

.form .paragraphs{
  margin-right: 20px;

}

label{
  font-size: 18px;
  margin-right: 8px;
  text-transform: capitalize;
}

input{
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

select{
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  text-transform: capitalize;
}
p{
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 30px;
}